/* .feed {
  box-sizing: border-box;
  position: absolute;
  width: 1000px;
  height: 100%;
  left: 160px;
  top: 92px;
  align-content: center;
  background: #f5eddc;
 
}
*/
.feedWrapper {
  padding: 20px;
  margin: 20px;
}

.homePage {
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-left: 90px;
}

.homePage .post {
  width: 800px;
  height: auto;
  max-height: 600px;
  background-color: #f5eddc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 50px;
  border-radius: 15px;
  font-size: 90x;
}

/* .post .postHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: aqua;
} */
.title {
  background-color: blue;
}
.postHeader .title {
  flex: 50%;
  background-color: black;
}

/* .postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

.deletePost button {
  border: none;
  position: relative;
  background: none;
  font-size: 30px;
  cursor: pointer;
  top: 15px;
  left: 10px;
}

.post .postTextContainer {
  /* word-wrap: break-word;
  height: 10vh;
  width: 75% !important;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  left: 10% !important;
  background: #ffffff;
  border: 1px solid #ff4844;
  border-radius: 25px;
  align-items: center;
  text-align: left;
  position: relative; */

  word-wrap: break-word;
  height: auto;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ff4844;
  border-radius: 25px;
  padding: 20px !important;
  text-align: left;
  margin-top: 20px;
  /* margin: 40px; */
}
/* .postTextContainer {
  padding: 20px !important;
  top: 30px !important;
  position: relative;
} */

/* .postHeader {
  background-color: pink;
} */
/* .postTextContainer {
  /* background-color: white;
  box-sizing: border-box;

  position: absolute;
  height: 176px;

  background: #ffffff;
  border: 1px solid #ff4844;
  border-radius: 25px;
} */
.ProfileImg {
  position: relative;
  width: 100%;
  /* left: 32%; */
  display: flex;
}
.BookCLubimg {
  display: flex;
}
.BookClubname {
  padding-right: 20px !important;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #eb1d36;
}
.icon {
  /* padding: 20px !important; */
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}
.commentbox {
  position: relative;
  height: 10vh !important;
  align-items: center;
  background-color: aliceblue !important;
}

/* .profileUserImg {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 20px !important;
} */

.displayName {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 80px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
.datePosted {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 80px;
  width: 100%;
  margin-left: 20px;
  /* width: 77px; */
  height: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.displayinfo {
  position: fixed;
  width: 100%;
  margin: 40px;
  top: 200px;
}
.CreateClubbuttonlabel {
  display: flex;
  position: absolute !important;
  font-family: "Outfit" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 30px !important;
  align-items: center !important;
  bottom: 10px;
  left: 39%;
  width: max-content;
  height: max-content;

  color: #ffff;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px !important;
  text-align: center !important;
  backdrop-filter: blur(2px);
}

.miniclubdetailDiv {
  position: absolute;
  top: 240px;
  left: 163px;
  display: flex;
  width: 75%;
  height: auto;
}

.cardcontainer {
  position: absolute;
  width: 900px !important;
  height: 400px !important;
  left: 58% !important;
  transform: translate(-50%);
  background: #f5eddc !important;
  border: 1px solid #eb1d36 !important;
  border-radius: 25px !important;
  align-items: center;
  margin: 20px;
}

.clubnameh2 {
  position: absolute;
  font-family: "Outfit";
  font-style: normal;
  font-size: 50px;
  width: max-content;
  margin-bottom: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clubdesc {
  position: absolute;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100px;
  width: 500px;
  height: 100px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
