.cpContainer {
  width: 800px;
  height: 200px;
  padding: 20px;
  background-color: #f5eddc;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  position: absolute;
  /* align-items: left !important; */
  margin-top: 90px !important;
  left: 90px !important;
  top: 200px;
}

/* .cpContainer h1 {
    color: white !important;
    position: static !important;
} */

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none !important;
  border-radius: 2px !important;
  padding: 5px !important;
}
/* .createPostPage {
  background-color: black !important;
  position: absolute;
} */
.inputGp textarea {
  height: auto !important;
  width: 700px !important;
  /* height: 200px !important; */
  background-color: white !important;
}

.btnpost {
  border-radius: 25px;
  border-color: white;
  width: 200px;
}
.FeedWrapper {
  position: absolute;
  top: 400px !important;
  left:48px;
  width: 800px;
}

.WelcomeMessage {
  position: absolute;
  width: 800px !important;
  height: 125px;
  left: 16%;
  top: 100%;
  margin-top: 50px;
  background: rgba(250, 148, 148);
  border-radius: 25px;
}
