.searchInputs {
  margin-top: 105px;
  display: flex;
  position: fixed;
  top: -80px !important;
  left: 480px;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 25px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  font-size: 18px;
  padding: 15px;
  height: 47px;
  width: 300px !important;
  display: flex;
  position: sticky;
}

.searchIcon {
  width: 50px;
  height: 48px;
  background-color: white;
  display: grid;
  place-items: center;
  margin-right: 50px !important;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 20px;
}

.dataResult {
  left: -75%;
  top: 100%;
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  color: black !important;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black !important;
  position: relative;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

/* a:hover {
  background-color: lightgrey;
} */

#clearBtn {
  cursor: pointer;
}
body {
  background-color: rgb(211, 188, 159) !important;
}
