@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.CreateAClubwrapper {
  /* Rectangle 4 */

  position: absolute;
  width: 378.95px;
  height: 82px;
  left: 45%;
  top: 140px;
  z-index: 1;

  background: #fa9494;
  border-radius: 25px;
  /* position: absolute; */

  font-family: "Outfit";
  padding-left: 65px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;

  color: #fff;
}

.CreateAClubline {
  position: absolute;
  width: 100%;
  top: 175px;
  border: 4px solid #FA9494;
  z-index: 0;
}

.BookClubName_box {
  box-sizing: border-box;

  position: absolute;
  width: 379px;
  height: 54px;
  left: 343px;
  top: 295px;

  background-color: rgba(245, 237, 220, 0.75);
  border: 1px solid #EB1D36;
  border-radius: 25px;
}

.CreateClubForm {
  margin-top: 250px !important;
  padding-top: 30px !important;
  padding-left: 150px !important;
  /*moving form across x-axis */
}

.CreateClubsLabels {
  position: relative !important;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 25px !important;

  align-items: center !important;
  text-align: center !important;



  color: #000000;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px !important;
  backdrop-filter: blur(2px);
}

input {
  font-family: 'Outfit' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 25px !important;
  text-align: center !important;
  color: #000000 !important;
  padding: 10px !important;
}

textarea {
  font-family: 'Outfit' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 25px !important;
  text-align: center !important;
  color: #000000 !important;
  padding: 10px !important;
}

input[id="ClubName"],
textarea {
  background: rgba(245, 237, 220, 0.75) !important;
  border: 1px solid #EB1D36 !important;
  border-radius: 25px !important;
  width: 379px !important;
  height: 54px !important;
  margin-bottom: 50px !important;
}

input[id="ClubDesc"],
textarea {
  box-sizing: border-box;
  background: rgba(245, 237, 220, 0.75) !important;
  border: 1px solid #EB1D36 !important;
  border-radius: 25px !important;
  width: 382px !important;
  height: 236px !important;

}

input[id="WelcomeMessage"],
textarea {
  box-sizing: border-box;
  background: rgba(245, 237, 220, 0.75) !important;
  border: 1px solid #EB1D36 !important;
  border-radius: 25px !important;
  width: 382px !important;
  height: 236px !important;

}

.AddClubPicture {
  /* Change Profile Picture */
  align-items: center;
  justify-content: center;
  justify-self: center;
  position: absolute;
  width: 252px;
  height: 279px;
  left: 1175px !important;
  /* moving position of picture and change pic button */
  top: 257px;
}

button[id="AddClubPicture"] {
  background: #CFD2CF !important;
  mix-blend-mode: normal !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px !important;
  width: 250px !important;
  height: 56px !important;
  border: none !important;
}

.addpicbuttonlabel {
  position: relative !important;
  font-family: 'Outfit' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 25px !important;
  align-items: center !important;


  color: #000000 !important;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px !important;
  text-align: center !important;
  backdrop-filter: blur(2px);
}

.addpicbuttonlabel:hover {
  color: #EB1D36 !important;
}


button[id="CreateClub"] {
  margin-left: 75px !important;
  margin-top: 8px !important;
  background: #EB1D36 !important;
  mix-blend-mode: normal !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px !important;
  width: 250px !important;
  height: 65px !important;
  border: none !important;
}

button[id="CreateClub"]:hover {
  background: #FA9494 !important;
}

.CreateClubbuttonlabel {
  position: absolute !important;
  font-family: 'Outfit' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 30px !important;
  align-items: center !important;



  color: #FFFF;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px !important;
  text-align: center !important;
  backdrop-filter: blur(2px);
}


.col-md {
  margin-left: 50px !important;
}


/* clubpageimageupload */
.profile-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 300px;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  left: 110px;
}

.confirmation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog {
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.editProfilewrapper {
  /* Rectangle 4 */

  position: absolute;
  width: 221.09px;
  height: 57px;
  left: 130px;
  top: 250px;

  background: #fa9494;
  border-radius: 25px;
  /* position: absolute; */

  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;

  color: #fff;
}

.editProfileTxt {
  position: absolute;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  left: 25px;

  color: #fff;
}

/* imgupclub */

.intclubcpic {
  display: flex;
  position: absolute;
  width: 268px !important;
  left: 350px;
  top: 150px !important;
}

.clubpic {
  display: flex;
  position: absolute;
  left: 400px;
  bottom: 10px;
}

.btnup {
  display: flex;
  position: absolute;
  top: 220px;
  left: 390px;
  width: 150px !important;
  background: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btnup:hover {
  color: #EB1D36 !important;
}
