@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.logo {
  width: 100%;
  display: flex;
}
.navbarWrapper {
  display: flex;
}
.SearchbarWrapper {
  flex: 2;
}
.buttons {
  flex: 3;
}
/* .searchbar {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
/* .searchWrapper {
  position: static !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
} */

.notifbell {
  display: flex !important;
  width: 50px !important;
  height: 50px !important;
  left: 857px !important;
  top: 22px !important;
  margin-left: 50px;
}
.displayName {
  position: absolute;
  width: 362px;
  height: 63px;
  left: 950px;
  top: 14px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 40px;
  text-align: center;

  color: #000000;
}
.profile {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80x;
  left: 1320px;
  top: 5px;
  border-radius: 20px;
  align-items: left;
}


