@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.logo {
  max-width: 500px;
  max-height: 300px;
  display: flex;
  padding-right: 50px;
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 60vh;
  }
}
.logowrapper {
  display: flex;
}
.NavBarWrapper {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 999;
}
.SearchbarWrapper {
  position: absolute;
  padding: 50px;
  background-color: aliceblue;
  left: 20% !important;
}

/* .searchbar {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
/* .searchWrapper {
  position: static !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
} */

.displayName {
  position: absolute;
  width: 362px;
  height: 63px;
  left: 950px;
  top: 14px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 40px;
  text-align: center;

  color: #000000;
}
.profile {
  display: flex;
  width: 80px;
  height: 80x;
  top: -100%;
  left: 90%;
  position: relative;
  border-radius: 20px;
  align-items: left;
}
