@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.logo {
  width: 100%;
  display: flex;
}

.displayName {
  position: absolute;
  width: 379px;
  height: 55px;
  left: 950px;
  top: 22px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #000000;
  display: flex;
}

.displayName2 {
  position: absolute;
  width: 379px;
  height: 55px;
  left: 200px;
  top: 22px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #000000;
  display: flex;
}

.searchBar {
  position: fixed;
  width: 338px;
  height: 47px;
  left: -30px;
}
.search {
  position: fixed;
  width: 30px;
  height: 47px;
  border-radius: 25px;
}
.searchIcon {
  position: fixed;
  border: 25px;
}
.profile {
  position: absolute;
  width: 80px;
  height: 80x;
  left: 1320px;
  top: 5px;
  border-radius: 50px;
  align-items: center;
}

.notifbell {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 857px;
  top: 22px;
}
.searchbox {
  position: fixed;
  width: 75%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.searchwrapper {
  position: static;
  display: flex;
}
