/* .editClubContainer {
    overflow: scroll;
    position: absolute;
    width: 200%;
    align-items: center;
    justify-content: center;
  } */
  .EditClubtxt {
    position: absolute;
    width: 378.95px;
    height: 82px;
    left: 75%;
    top: 55%;
    z-index: 1;
    display: flex;
    background: #fa9494;
    border-radius: 25px;
    /* position: absolute; */
  
    font-family: "Outfit";
    padding-left: 65px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
  
    color: #fff;
  }
  .EditClubline {
    display: flex;
    position: absolute;
    width: 100000px;
    top: 60%;
    border: 4px solid #fa9494;
    z-index: 0;
  }
  .EditBookClubName {
    top: 55% !important;
    left: 50% !important;
  }
  .EditBookClubInformation {
    position: absolute;
    top: 70% !important;
    left: 5% !important;
    /* background-color: pink; */
    margin-right: 10px !important;
  }
  .EditWelcomeMessage {
    position: absolute;
    left: 100% !important;
    top: 0% !important;
    height: 20px !important;
  }
  .EditedWelcomeMessage {
    height: 10vh !important;
    position: relative;
  }
  .EditClubbuttonlabel {
    left: 75% !important;
    top: 100% !important;
    position: absolute !important;
  }
  .EditClubPicture {
    left: 125% !important;
    top: 40% !important;
    position: absolute !important;
  }
  .intclubcpic1{
    bottom: 30px !important;
    right: 200px !important;
    width: 20.5ch !important;
  }
  
.btnclubname{
  display: flex;  
  position: absolute;
  bottom: 330px;
  left: 200px;
}
.btndesc {
  display: flex;
  position: absolute;
  left: 100px;
  bottom: 10px;
}

button:active{
  color: #fa9494 !important;
}

.btnwelcome {
  display: flex;
  position: absolute;
  bottom: -145px;
  left: 70px;
}
.btnimg {
  display: flex;
  position: absolute;
  top: 225px;
  right: 100px;
}

.CreateClubsLabels{
  position: absolute;
}

.clubdescpos{
  position: absolute;
  position: absolute;
  top: 100%;
  left: 0%;
  
}

.welcomepos{
  position: absolute;
  left: 22ch !important;
  bottom: 7ch !important;
}

.avatarpos{
  position: absolute;
  left: 27ch !important;
  top: 9ch !important;
}